@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Butterfly+Kids&family=Emilys+Candy&family=Fascinate&family=Fascinate+Inline&family=Italiana&family=Leckerli+One&family=Lovers+Quarrel&family=Pinyon+Script&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Story+Script&display=swap');

#hero {
    border: 5px dotted black;
    padding: 20px;
    
}
#text-scroll {
    border: 3px double black;
}
#hero {
    display: inline-block;
}
#content {
  font-family: "Sour Gummy" !important;
}
#name {
    font-family: "Leckerli One" !important;
}
#body {
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);

}


